@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* 노말라이즈 시작 */
body,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Pretendard Variable;
  background-color: #343231;
}

a {
  text-decoration: none;
  color: inherit;
}

.con-min-width {
  min-width: 1080px;
}
/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.BG-Main1 {
  background-color: #f9a51a;
}

.BG-Main2 {
  background-color: #ec0c6e;
}

.BG-Main3 {
  background-color: #a6a8ab;
}

.BG-Main4 {
  background-color: #0066b2;
}
/* 라이브러리 끝 */

/* 탑바 시작  */
.TopBar {
  width: 100%;
  height: 86px;
  background-color: #343231;
  position: relative;
  z-index: 5000;
  padding: 10px 0;
  position: sticky;
  top: 0;
}

.TopBar > .con {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.TopBar > .con > img {
  width: 147px;
  height: 38px;
}

.TopBar > .con > ul {
  display: flex;
}

.TopBar > .con > ul > li > a {
  color: white;
  font-size: 18px;
  white-space: nowrap;
  cursor: pointer;
}

.TopBar > .con > ul > li:not(:nth-child(n + 6)) > a {
  margin-right: 100px;
}

.TopBar > .con > ul > li:last-child {
  color: white;
  background-color: #ec0c6e;
  width: 57px;
  height: 23px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}

.TopBar > .con > ul > li:hover > a {
  color: #f9a51a;
  font-weight: 500;
}

.TopBar > div:first-child > div {
  width: 128px;
}

.TopBar > div > div > img,
.TopBar .search-active > img {
  width: 24px;
  height: 24px;
  padding-bottom: 3px;
  cursor: pointer;
}

.TopBar > div > div > img:first-child {
  margin-right: 60px;
}

.TopBar .search-active {
  position: absolute;
  top: 23.9%;
  right: 6.68%;
  width: 250px;
  height: 38px;
  border-radius: 20px;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  padding: 0 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.TopBar .search-active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  border: 1px solid #f9a51a;
  border-radius: 20px;
  box-sizing: border-box;
  transition: width 0.3s ease-in-out;
}

.TopBar .search-active.active::before {
  width: 100%;
}

.TopBar .search-active div::after {
  display: flex;
  align-self: center;
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: white;
  margin-left: 8px;
  animation: blink-cursor 0.8s step-start infinite;
}

@keyframes blink-cursor {
  50% {
    opacity: 0;
  }
}

.TopBar .search-active.active {
  visibility: visible;
  opacity: 1;
}

.TopBar .hide {
  visibility: hidden !important;
}

.TopBar_subMenu {
  width: 100%;
  background-color: #3c3837;
  padding: 68px 0 125px 0;
  position: absolute;
  top: 100%;
  left: 0%;
  transition: opacity 0.3s ease, height 0.5s ease, transform 0.3s ease;
  transform: translateY(-10%);
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.TopBar_subMenu > div {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.TopBar_subMenu > div > ul,
.TopBar_subMenu > div > ul > li {
  margin-right: 4px;
  background-color: transparent;
  width: 180px;
}

.TopBar_subMenu > div > ul > li > a {
  color: white;
  font-size: 16px;
  display: flex;
  width: auto;
  margin-bottom: 20px;
  justify-content: center;
}

.TopBar_subMenu > div > ul > li > a:hover {
  color: #f9a51a;
}

.TopBar_subMenu.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  height: auto;
  z-index: 3000;
}
/* 사이드바 팝업 시작 */
body.Popup-active,
html.Popup-active {
  overflow: hidden !important;
  height: 100% !important;
}

.Popup {
  width: 100%;
  height: 100%;
  background-color: #343231;
  z-index: 5001;
  transition: right 0.3s ease;
  position: absolute;
  top: 0%;
  left: 0%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, height 0.5s ease, transform 0.3s ease;
  overflow: hidden !important;
}

.Popup > .Popup_subMenu {
  width: 100%;
  height: 100%;
  background-color: #3c3837;
  padding: 68px 0 125px 0;
}

.Popup > .Popup_subMenu ul:first-child h2 {
  cursor: pointer;
}

.Popup > .Popup_subMenu h2 {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.Popup > .Popup_subMenu > div {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.Popup > .Popup_subMenu > img {
  width: 38px;
  height: 38px;
  display: flex;
  justify-self: flex-end;
  margin-right: 80px;
  margin-bottom: 20px;
}

.Popup > .Popup_subMenu > div > ul,
.Popup > .Popup_subMenu > div > ul > li {
  margin-right: 4px;
  background-color: transparent;
  width: 180px;
}

.Popup > .Popup_subMenu > div > ul > li > a {
  color: white;
  font-size: 16px;
  display: flex;
  width: auto;
  margin-bottom: 20px;
  justify-content: center;
}

.Popup > .Popup_subMenu > div > ul > li > a:hover {
  color: #f9a51a;
}

.Popup.active {
  top: 0%;
  right: 0;
  visibility: visible;
  opacity: 1;
  z-index: 9000;
}
/* 사이드바 팝업 끝 */

/* 탑바 끝 */

/* 메인 시작 */
.Main {
  width: 100%;
  background-color: #343231;
}

.Main .con {
  width: auto;
  height: auto;
  margin-top: 32px;
  margin-left: 80px;
  display: flex;
  justify-content: space-between;
}

.Main .con .BannerArea {
  width: 1720px;
  position: relative;
  z-index: 999;
}

.Main .con .BannerArea .Banner {
  width: 430px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Main .con .BannerArea .Banner:hover img {
  visibility: visible;
  border: 5px solid #a6a8ab;
  transform: translateY(-1px);
  z-index: 1000;
  cursor: pointer;
}

.Main .BannerArea .Area1,
.Main .BannerArea .Area2 {
  position: relative;
  display: flex;
}

.Main .BannerArea img {
  width: 430px;
  height: 542px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  object-fit: cover;
  transition: border 0.3s ease;
  visibility: hidden;
}

.Main .BannerArea span,
.Main .BannerArea p {
  color: white;
  display: block;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 300px;
  justify-content: center;
  font-size: 20px;
}

.Main .BannerArea span {
  font-weight: 500;
}

.Main .con .MainBG {
  position: relative;
  width: 500px;
}

.Main .con .MainBG img:first-child {
  width: 462px;
  position: absolute;
  top: 15%;
  right: 18%;
}

.Main .con .MainBG img:last-child {
  width: 550px;
  position: absolute;
  top: 38%;
  right: 0%;
}
/* 메인 끝 */

/* 공모 시작 */
.Notice {
  width: 100%;
  position: relative;
}

.Notice .Notice-con {
  margin: 113px 80px 0 80px;
  z-index: 1000;
  position: relative;
}

.Notice .Title span,
.Notice .Title p {
  color: white;
  margin: 0;
}

.Notice .Title span {
  font-size: 48px;
  font-weight: 500;
}

.Notice .Title p {
  font-size: 36px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 36px;
}

.Notice .Notice-con .con {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.Notice .Noti-Process {
  width: 100%;
}

.Notice .Noti-Process:not(:last-child) {
  margin-right: 50px;
}

.Notice .Noti-Process > div:first-child {
  width: 100%;
  height: 57px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.Notice .Noti-Process > div:first-child span {
  font-size: 24px;
}

.Notice .Noti-Process > .content {
  background-color: #ebebeb;
  padding: 47px 0;
  width: 100%;
  max-height: 524px;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.Notice .Noti-Process > .content.expanded {
  max-height: 1500px; /* 영역이 펼쳐지는 최대 높이 (필요에 맞게 조정) */
}
/* 두 번째 이미지 보이게 (업/다운 화살표 교체) */
.Notice .Noti-Process > .content.expanded button > img:last-child {
  display: inline-block;
}

.Notice .Noti-Process > .content button > img:first-child {
  display: none; /* 처음 이미지는 숨기기 */
}

.Notice .Noti-Process > .content .li {
  background-color: white;
  width: 90%;
  height: 160px;
  border-radius: 20px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.Notice .Noti-Process > .content .li span {
  color: #0066b2;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  padding-top: 28px;
  margin: 0 40px;
  line-height: 24px;
  height: 48px;
}

.Notice .Noti-Process > .content .li div {
  display: flex;
  justify-content: space-between;
}

.Notice .Noti-Process > .content .li p {
  font-size: 16px;
  font-weight: 300;
  padding: 0 40px;
}

.Notice .Noti-Process > .content .li p:last-child {
  color: #a6a8ab;
}

.Notice .Noti-Process button {
  background-color: white;
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  border: none;
}

.Notice .Noti-Process button > img {
  width: 24px;
  height: 24px;
}

.Notice .Noti-Process button > img:last-child {
  display: none;
}

.Notice .Noti-Process > .content .li-n {
  background-color: #a6a8ab;
  width: 95%;
  height: 160px;
  border-radius: 20px;
  margin: 10px auto;
  cursor: pointer;
}

.Notice .Noti-Process > .content .li-n span:nth-child(1) {
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 65px;
  height: 20px;
  background-color: #f9a51a;
  border-radius: 20px;
  padding: 2px 4px;
  display: inline-block;
  text-align: center;
  margin: 22px 0px 11px 40px;
}

.Notice .Noti-Process > .content .li-n span:nth-child(2) {
  color: white;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  margin: 0 40px;
  line-height: 24px;
  height: 48px;
}

.Notice .Noti-Process > .content .li-n p {
  font-size: 16px;
  font-weight: 300;
  padding: 0 40px;
  color: #ebebeb;
  display: flex;
  justify-self: flex-end;
}

.BG > img {
  position: absolute;
  width: 477px;
  top: 0;
}

.BG .BG1 {
  top: 138%;
  left: 12%;
}

.BG .BG2 {
  top: 156%;
  right: 0%;
}

.BG .BG3 {
  top: 190%;
  right: 25%;
  transform: rotate(122deg);
}

.BG .BG4 {
  top: 219%;
  left: 0%;
  transform: rotate(-8deg);
}

.BG .BG5 {
  top: 90%;
  left: 26%;
  transform: rotate(12deg);
}
/* 공모 끝 */

/* 문화예술 시작 */
.Slide {
  width: 100%;
  height: 885px;
  background-color: #3c3837;
  position: relative;
  z-index: 1000;
  margin-top: 91px;
}

.Slide h1 {
  font-size: 36px;
  color: white;
  font-weight: 400;
  padding-top: 135px;
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
}

.Slide .con {
  display: flex;
  width: 1444px;
  margin: 0 auto;
}

.Slide .swiper {
  width: 700px;
  height: 505px;
  background-color: #343231;
  border-radius: 20px;
}

.Slide .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Slide .swiper img {
  width: 75px;
  margin-bottom: 43px;
}

.Slide .swiper .swiper-slide > span {
  font-size: 32px;
  font-weight: 500;
  height: 78px;
  display: flex;
  align-items: center;
}

.Slide .swiper p {
  font-size: 24px;
  font-weight: 400;
}

.Slide .swiper span,
.Slide .swiper p {
  color: white;
  text-align: center;
}

.Slide .mySwiper1 .swiper-slide div {
  display: flex;
  align-items: center;
  height: 29px;
}

.Slide .mySwiper1 .swiper-slide:first-child > div {
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  margin-bottom: 2% !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
/* 문화예술 끝 */

/* 공간소개 시작 */
.Space {
  width: 100%;
  height: 867px;
  position: relative;
  z-index: 1000;
  display: flex;
}

.Space .section-top__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.Space .section-top__content {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}

.Space .section-top__content li {
  color: white;
  font-size: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 875px; /* 이미지 크기와 동일 */
  height: 867px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.Space .section-top__content .bg-image {
  width: 0px;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  object-fit: cover;
}

.Space .section-top__content .text {
  display: block;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.Space .section-top__content .text.hide {
  opacity: 0;
  visibility: hidden;
}

.Space .section-top__content .bg-image.active {
  width: 958px;
  height: 867px;
  opacity: 1;
  visibility: visible;
}

.Space .content-item {
  position: relative;
}

.Space .content-item .Space-text {
  display: block;
  position: absolute;
  top: 65%;
  left: 10%;
  opacity: 0;
  visibility: hidden;
}

.Space .content-item .Space-text.active {
  opacity: 1;
  visibility: visible;
}

.Space .content-item .icon {
  width: 80px !important;
  height: auto !important;
  z-index: 2;
  position: relative;
  margin-top: 420px;
}

.Space .content-item h2 {
  font-size: 48px;
  font-weight: 400;
}

.Space .content-item h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.Space .content-item > span {
  margin-top: 420px;
}

.Space .section-top__content li:nth-child(1) {
  background-color: #ff378f;
}

.Space .section-top__content li:nth-child(2) {
  background-color: #ec0c6e;
}

.Space .section-top__content li:nth-child(3) {
  background-color: #b00f55;
}

.Space .section-top__content li:nth-child(4) {
  background-color: #890b43;
}

.Space .section-top__content li:nth-child(5) {
  background-color: #6e0935;
}

.Space .section-top__content li:nth-child(6) {
  background-color: #4b0524;
}

/* 텍스트 li 기본: 균등 분배 */
.section-top__content li {
  flex: 1;
  transition: flex 0.3s ease, opacity 0.3s ease;
}

/* 강조된 텍스트: 넓게 */
.section-top__content li.active {
  flex: 3;
  opacity: 1;
}

/* 축소된 텍스트 */
.section-top__content li.inactive {
  flex: 1;
  opacity: 0.4;
}
/* 공간소개 끝 */

/* 공지사항 시작 */
.Info {
  width: 100%;
  height: 885px;
  background-color: #3c3837;
  position: relative;
  z-index: 1000;
  display: block;
}

.Info > h1 {
  font-size: 48px;
  color: white;
  font-weight: 400;
  padding-top: 135px;
  margin-bottom: 76px;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.Info > .con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Info > .con > .li {
  background-color: white;
  width: 70%;
  height: 88px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.Info > .con > .li:hover {
  background-color: #fff7e9;
}

.Info > .con > .li div {
  margin: 0 40px;
}

.Info > .con > .li span {
  font-size: 18px;
  color: #a6a8ab;
}

.Info > .con > .li h2 {
  font-size: 20px;
  color: #231f20;
  margin: 0;
}

.Info > .con > .li p {
  font-size: 18px;
  color: #a6a8ab;
}

.Info button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  margin-top: 40px;
  display: flex;
  justify-self: center;
  cursor: pointer;
}

.Info button:hover {
  color: #f9a51a;
}
/* 공지사항 끝 */

/* 유튜브 시작 */
.Video {
  width: 100%;
  height: 1080px;
}

.youtube-bg {
  width: 100%;
  height: 1080px;
}
/* 유튜브 끝 */

/* SNS 시작 */
.SNS {
  width: 100%;
  height: 214px;
}

.SNS div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SNS img {
  width: 60px;
  height: 60px;
  margin-top: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.SNS span {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/* SNS 끝 */

/* 푸터 시작 */
.Footer {
  width: 100%;
  position: relative;
}

.Footer .logo {
  width: 190px;
  height: 54px;
  margin-left: 80px;
  margin-right: 94px;
}

.Footer li a {
  color: white;
}

.Footer > div:first-child {
  display: flex;
  align-items: center;
  border-top: 1px solid#7F7F7F;
  border-bottom: 1px solid#7F7F7F;
  justify-content: space-between;
  padding: 15px 0;
}

.Footer > div:first-child > div {
  display: flex;
  align-items: center;
}

.Footer > div:first-child > div > ul > li {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.Footer > div:first-child > div > ul li > a {
  margin-right: 5px;
}

.Footer div > ul {
  display: flex;
  padding: 34px 0;
}

.Footer div > ul > li {
  position: relative;
}

.Footer div > ul > li ul {
  width: 170px;
  max-height: 200px;
  background-color: #231f20;
  position: absolute;
  top: 150%;
  left: 0;
  display: block;
  padding: 20px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
}

.Footer div > ul > li ul:first-child {
  height: auto;
}

.submenu.active {
  visibility: visible;
  opacity: 1;
}

.Footer div > ul > li ul::-webkit-scrollbar {
  width: 6px;
}
.Footer div > ul > li ul::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}

.Footer div > ul > li ul li {
  background-color: transparent;
}

.Footer div > ul > li ul li:not(:last-child) {
  margin-bottom: 15px;
}

.Footer div > ul > li ul a {
  color: white;
  font-size: 16px;
}

.Footer div > ul > li ul li:hover > a {
  color: #f9a51a;
}

.Footer div:first-child > ul > li {
  margin-left: 27px;
}

.Footer div:first-child > ul > li:last-child {
  margin-right: 80px;
}

.Footer li img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.Footer .text,
.Footer > div:nth-child(3) > span {
  color: white;
  font-size: 18px;
}

.Footer .text {
  margin-top: 86px;
  margin-left: 80px;
}

.Footer .text > p {
  margin-bottom: 8px;
}

.Footer > div:nth-child(3) {
  margin-left: 80px;
  margin-top: 34px;
  align-self: center;
  padding-bottom: 90px;
}

.Footer > img {
  width: 55px;
  height: 65px;
  position: absolute;
  bottom: 15%;
  right: 3%;
}
/* 푸터 끝 */
